@{
    ViewBag.Title = "About";
}
<h2>Purpose</h2>
<h3>To demonstrate the usage of an interface during initial development of a project</h3>

<p>The goal is to demonstrate that as long as you code to an interface, you can swap out the implementation as needed.</p>
