@{
    ViewBag.Title = "Contact";
}
<h2>Brandon Fox</h2>
<h3>Software Developer</h3>



<address>
    <strong>Call:</strong>   541.870.5068<br />
    <strong>Email:</strong> <a href="mailto:BrandonFox2009@gmail.com">BrandonFox2009@gmail.com</a>
</address>