@using PlaceHolderProject.Repositories.Posts
@{
    ViewBag.Title = "Home Page";
    var topPosts = (IEnumerable<Post>) ViewBag.TopPosts;
}

<div class="jumbotron">
    <h1>Posts About Things</h1>
    <p class="lead">Please come and check out our posts.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var topPost in topPosts)
        {
            <h2>@topPost.Title</h2>
            <p>
                @topPost.Body
            </p>
            <p>
                <a class="btn btn-default" href="@Url.Action("Detail", "Post", new {postId = topPost.Id})">More &raquo;</a>
            </p>
        }
    </div>
</div>